.about-container {
    	  width: 100%;

}
.info-text {
    width:100%;
    float:left;
}
.Nia{
text-align: left;
margin-right:15px;
image-orientation:left;
shape-image-threshold: initial;
/* vill sätta bilden före texten, till vänster om dem liksom men får inte till det*/
}
.Yoga{

}
.UnikaRum{

}

/*.companies{
    width:30%;
    float:left;
}*/