.about-container {
        text-align: center;

        background-color:lightgray;    
}
.info-text {
    min-width:100%;
    background-color: white;
}
.companies-container{
    width:100%;
    background-color: lightgray;
}

.company{
    width:98%;
    background-color:white;
    display:inline-block;
    text-align: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0.5%;
    margin-top:0.5%;
}
.company-image{
    width:18%;
    min-height:100%;
    float:left;
    text-align: center;
    padding:1%;

}

a{
    padding:0px 15px 0px 15px;
    margin:5px 15px 5px 15px;
    color:green;
}
.company-text{
    width:80%;
    float:right;
}

