.confirmation-container {
    padding-top: 50px;
    padding-bottom: 80px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.confirmation-container > p, h2, h3{
    padding:0;
    margin-left: 20px;
}