.itemContainer:hover {
    box-shadow: 0 8px 16px 0 #888888;
}

.list {
    margin-top: 5px;
}

.titleContainer {
    width: 95%;
    height: 100px;
    text-align: left;
    align-items: left;
    align-content: left;
    font-weight: bolder;
    align-items: left;
    align-self: left;
    margin-left: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: -40px;
    margin-top: 20px;
}

.avatar {
    font-size: 80px;
}

