.footer {
  width: 100%;
  text-align: center;
  border-top: 4px solid#4d8948;
  height: 11rem;
  position: relative;
  left: 0;
  bottom: 0;
  background-color:white;
  display: inline-block;
}

.footer a,p {
  padding:0px;
  margin:0px;
  
}

.footer h4 {
  padding:0px;
  margin-left:0px;
  margin-right:0px;
}

.footer .MuiSvgIcon-root{
  color:#3b5998;
  font-size:3rem;
  align:center;
}

.footerContainer {
  display: inline-block;
  text-align: left;
}

.footerContact {
  float: left;
  padding: 10px;
}
.footerSocial {
  float: left;
  padding: 10px;
}
