.footer {
  width: 100%;
  text-align: center;
  border-top: 4px solid darkgreen;
  height: 11rem;
  position: relative;
  left: 0;
  bottom: 0;
  background-color: white;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.footer a,p {
  padding:0px;
  margin:0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.footer h4 {
  padding:0px;
  margin-left:0px;
  margin-right:0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.footer .MuiSvgIcon-root{
  color:#3b5998;
  font-size:3rem;
}

.footerContainer {
  display: inline-block;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.footerContact {
  float: left;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.footerSocial {
  float: left;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
