img {
    align-items: center;
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px;
}

.newsContainer {
  height: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.imageContainer {
  height: auto !important;
  width: auto !important;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.newsImage {
  object-fit: cover;
  border-radius: 8px;
  width: auto;
  height: auto;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    padding-top: 20px;
}

.news-child {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.newsitem-header {
    text-decoration: none;
    width: 100%;
    color: #4c4c4c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    margin: 20px 10px 20px 12px;
    padding-top: 12px;
}

.newsitem-header:hover {
    text-decoration: none;
    cursor: pointer;
}

a:link {
    color: #4c4c4c;
  }
/* mouse over link */
a:hover {
  color: dimgray;
}

/* selected link */
a:active {
  color: dimgray;
}

