.mainTitle {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: center;
    margin-top: 48px;
}

.subTitle {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: left;
    margin-left: 0%;
}

.classTable {
    margin: auto;
    width: 80%;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
}

th {
    padding-left: 12px;
    text-align: left;
    border-bottom:  1px solid black;
}

td {
    padding-left: 12px;
    text-align: left;
    border-bottom: 1px dashed gray;
    padding-top: 6px;
}

.activityLink:link {
    text-decoration: underline;
}

.activityLink:visited {
    text-decoration: underline;
    color: blueviolet;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#completedLink {
    text-align: left;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 15%;
}

#comingLink {
    text-align: right;
    float: right;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 15%;
}

#returnIcon {
    max-width: 42px;
    max-height: 42px;
    margin-left: 4px;
    margin-right: 8px;
    vertical-align: middle;
}

.return {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: inline-flex;
    justify-content: left;
}

.pagination {
    font-family: 'Courier New', Courier, monospace;
    background-color: red;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    margin: auto;
}

.step-links {
    background-color: red;
}