.formContainer{
    min-height: fit-content;
    width: 100%;
    padding: 10px;
    align-items: center;
    align-self: center;
    align-content: center;
    color: var(--primary-text-color);
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
}
.formContainer > p{
  margin-left: 15px;
}
.headerText{
  margin-top: 20px;
  width: 100%;
}
.headerText > h2, h3{
  margin-bottom: 0px;
  padding: 0px;
  margin-left: 10px;
}
.headerText > p{
  margin-bottom: 0px;
  margin-left: 10px;
}


.paymentContainer{
    height: max-content;
    width: 100%;
    display: table-row;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    color: var(--primary-text-color)
}
.paymentContainer > p{
  margin-left: 20px;
}

#classTitle {
  align-self: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

#classLocation {
  align-self: center;
  margin-top: 12px;
  margin-bottom: 12px;
}