.formContainer{
    min-height: fit-content;
    width: 100%;
    padding: 5px;
    align-items: center;
    align-self: center;
    align-content: center;
    color: var(--primary-text-color);
    box-sizing: border-box;
}
.formField{
    height: fit-content;
    width: inherit;
    max-width: 600;
    display: table-row;
    margin: 0px;
    color: var(--primary-text-color);
    float: left;
}
.formContainer > .formField{
  align-self: center;

}
.headerText{
  margin-top: 20px;
  width: 100%;
}
.headerText > h2, h3, p{
  margin-bottom: 0px;
  padding: 0px;
}
.paymentContainer{
    height: fit-content;
    width: inherit;
    display: table-row;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    color: var(--primary-text-color)
}

#classTitle {
  align-self: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

#classLocation {
  align-self: center;
  margin-top: 12px;
  margin-bottom: 12px;
}