
.schema-container{
    padding: 40px 0 40px 0;
}

.schema-image {
    margin-left: 15px;
    margin-right: 15px;
}

.schema-title {
    margin-bottom: 16px;
}

.schema-info > p:first-child {
    margin-bottom: 16px;
    margin-top: 16px;
}