
.postContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    vertical-align: middle;
}

.postTitle {
    margin-left: 0;
    padding-left: 0;
}

.postContent {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    font-family: "SourceSansPro";
    color: #4c4c4c;
    font-size: 24px;
    word-wrap: break-word;
    column-fill: balance;
    vertical-align: text-top;
}

.postImage {
    vertical-align: text-top;
    display: inline;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}