.postContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    vertical-align: middle;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

.postTitle {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 12px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.postContent {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    color: #4c4c4c;
    font-size: 24px;
    word-wrap: break-word;
    column-fill: balance;
    vertical-align: text-top;
    text-align: center;
}
.published {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
.postImageContainer {
    height: auto !important;
    width: auto !important;
    padding: 0 20px;
  }

.postImage {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}