{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ class.activity.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dataview/detail.css' %}" />
</head>

<body>
    <div class="return">
        <a href="{% url 'todayListView' %}">
            <img src="../../../media/media/icons/return.png" id="returnIcon"><span>Återgå till pass</span>
        </a>
    </div>
    <div>
        {% block content %}
        <h1 class="mainTitle">Bokningsöversikt för {{ class.activity.name }} - {{ class.date }}</h1>
        <h2 class="subTitle">{{ class.start_time|time:"H:i" }} - {{ class.end_time|time:"H:i" }}, Anmälda bokningar:
            {{ bookings.count }}/{{ class.max_attendees }}<br />
            <br />
            Instruktör: {{ class.instructor }}
        </h2>
        {% endblock %}
        <table class="bookingTable">
            <tr>
                <th>Namn</th>
                <th>Mailadress</th>
                <th>Telefonnummer</th>
                <th>Boknings-ID</th>
                <th></th>
            </tr>
            {% for booking in bookings %}
            <tr style="height: 48px;">
                <td> {{ booking.name }} </td>
                <td> {{ booking.email }} </td>
                <td> {{ booking.phone_number }} </td>
                <td> {{ booking.id }} </td>
                {% if class.has_passed %}
                <td></td>
                {% else %}
                <td>
                    <a href="{% url 'cancelView' booking.id %}" style="color:white; font-weight: bolder; background-color: crimson; padding: 5px; border-radius: 5px;">Avboka</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>