{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bokningsöversikt</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dataview/list.css' %}" />
</head>

<body>
    <h1 class="mainTitle">Bokningsöversikt</h1>
    <h2 class="subTitle">Kommande pass:</h2>
    <table class="classTable">
        <tr>
            <th>Aktivitet</th>
            <th>Instruktör</th>
            <th>Datum</th>
            <th>Starttid</th>
            <th>Sluttid</th>
            <th>Bokningar</th>
        </tr>
        {% for class in classes %}
        {% if not class.has_passed %}
        <tr>
            <td><a href="{% url 'dataDetailView' class.id %}">{{ class.activity.name }}</a></td>
            <td>{{ class.instructor }}</td>
            <td>{{ class.date }}</td>
            <td>{{ class.start_time|time:"H:i" }}</td>
            <td>{{ class.end_time|time:"H:i" }}</td>
            <td>{{ class.registered_attendees }}/{{class.max_attendees}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <h2 class="subTitle">Gamla Pass:</h2>
    <table class="classTable">
        <tr>
            <th>Aktivitet</th>
            <th>Instruktör</th>
            <th>Datum</th>
            <th>Starttid</th>
            <th>Sluttid</th>
            <th>Bokningar</th>
        </tr>

        {% for class in classes.reverse %}
        {% if class.has_passed %}
        <tr>
            <td><a href="{% url 'dataDetailView' class.id %}">{{ class.activity.name }}</a></td>
            <td>{{ class.instructor }}</td>
            <td>{{ class.date }}</td>
            <td>{{ class.start_time|time:"H:i" }}</td>
            <td>{{ class.end_time|time:"H:i" }}</td>
            <td>{{ class.registered_attendees }}/{{class.max_attendees}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>

</body>

</html>