@import "../../globalstyles.css";

.activitiesContainer {
    max-width: 1900px;
    margin: 20px auto;
    margin-left:20px;
    margin-right: 20px;
    flex-wrap: wrap;
    display: left;
    justify-content: left;
    text-emphasis: none;
    text-decoration: none;
}