@import "./../../globalstyles.css";

.activityDetailContainer {
    margin-top: 10px;
    padding:5px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: max-content;
    box-sizing: border-box;
}
.activityMainImage{
    margin: 10px;
    max-width: 120px;
    height: auto;
    padding: 0px;
    border-radius: 5px;
} 
.activityDescription {
   margin: inherit;
   margin-bottom: 20px;
   color: var(--primary-text-color);
   font-size: 20px;
   height: max-content;
   overflow-wrap: break-word;
   text-overflow: ellipsis;
   overflow: hidden;
   float: center;
   box-sizing: border-box;
} 
.activityHeader{
    align-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 0px;
    max-width: 100%;
    width: 100%;
    height: fit-content;
    max-height: 120px;
    padding:0px;
}
.activityHeader > h2{
    align-self: top;
    margin:0px;
    padding:0px;
}

.instructors{
    display: inline-block;
    color: white;
    background-color: #4D8948;
    width: fit-content;
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#showActivityButton {
    background-color: #4D8948;
    color: white;
    border-width: 0px;
    border-radius: 30px;
    box-shadow: black;
    font-size: 36px;
    padding: 5px;
    box-shadow: var(--default-box-shadow);
    margin: 48px;
    min-width: 400px;
    width: fit-content;
    height: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.tag {
    border-radius: 20px;
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
    color: white;
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 'Semi-bold';
    font-size: 14px;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-top: 0px;
}

.instructor {
    border-radius: 10px;
    display: inline-block;
    margin: 8px;
    color: white;
    background-color: #7BA478;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
}

.instructorList {
    list-style-type: none;
}

.subHeader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 52px;
    color: #707070;
    margin-bottom: 0px;
}


