.activitiesContainer {
    align-content: center;
    margin-top:0px;
    padding-top: 0px;
    max-width: 100%;
    max-height: max-content;
    text-decoration: none;
}

.linkDecoration {
    text-decoration: none;
}