@import "../../globalstyles.css";

.activitiesContainer {
    max-width: 100%;
    margin: 2px;
    flex-wrap: wrap;
    display: left;
    justify-content: left;
    text-emphasis: none;
    text-decoration: none;
}