.footer {
    width: 100%;
    background-color: aquamarine;
    text-align:center;
}

.footerContainer{
    background-color: blue;
}

.footerContact{
    background-color: burlywood;
}

.footerFB{
    background-color: yellowgreen;
}