@import "./../../../globalstyles.css";

.activityImage {
    max-width: 120px;
    border-radius: 5px;
}

.descriptionPreview{
    margin-top: 10px;
    margin-bottom: 10px;
    padding:5px;
    width: 100%;
    max-width: 100%;
    max-height: 87%;
    height: inherit;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
}
.descriptionPreview > p{
    max-height: 70%;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    box-sizing: border-box;
    color: -webkit-linear-gradient(top,#000 60%, lightgrey);
}

#activityHeader{
   display: flex;
   align-content: center;
   align-items: center;
   margin-left: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   min-width: 120px;
}

.descriptionPreview > h2{
    font-size: 20px;
    margin-top:0px;
    padding:0px;
    text-decoration: none;
}