@import "./../../../globalstyles.css";

.activityImage {
    width: 100px;
    height: 80px;
    margin: 20px;
}
.activityCard {
    max-width: 1900px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: left;
    margin-left:10px;
    padding: 10px;
    box-shadow: var(--default-box-shadow);
}
.descriptionPreview{
    width: 80%;
    max-width: 80%;
    max-height: 100px;
    text-overflow: clip;
    display:flex;
}
.descriptionPreview > p{
    float: left;
    padding:8px;
    font-size: 12px;
    margin-top: 12px;
    text-decoration: none;
}
.descriptionPreview > h2{
    float: left;
    font-size: 20px;
    margin-top:20px;
    padding:0px;
    margin-right: 10px;
    min-width: 80px;
    max-width: 80px;
    text-decoration: none;
}