.bannerHeader{
  margin:5px; 
  border-radius: 10px;
  background-image: url('../../Components/Banner/testpic.jpg');
  background-color: white;
  background-position: fixed;
  height: 240px;
}

a:link {
    color: dimgrey;
  }
/* mouse over link */
a:hover {
  color: dimgrey;
}
  
/* selected link */
a:active {
  color: dimgrey;
}

.navItemSelected {
  font-weight: 600;
  text-decoration: underline !important;
}

.cursor-hover .ant-menu-submenu-title:hover {
  cursor:pointer;
}
